blinker==1.9.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.8
colorama==0.4.6
docker==7.1.0
Flask==3.1.0
greenlet==3.1.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.6
jsonpath-ng==1.6.1
MarkupSafe==3.0.2
ply==3.11
pywin32==306
requests==2.32.3
SQLAlchemy==2.0.36
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.1.3